body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

#input {
  width: 96%;
  height: 20em;
  padding: 1em;
  resize: vertical;
}

.outputcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  margin: 2rem 0;
  padding: 2rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  font-family: monospace;
  font-size: 1.5em;
}

#output {
  max-width: 90%;
  word-wrap: break-word;
}

.copybutton {
  width: 50px;
  height: 50px;
}