body {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  color: white;
}

/* #input {
  width: 96%;
  height: 50vh;
  padding: 1em;
  resize: vertical;
  border-radius: 1rem;
  color: white;
  background-color: #161b22;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
} */

.CodeMirror {
  width: 96%;
  height: 50vh;
  font-size: 1rem;
}

#input:focus {
  outline: #888;
}

.label {
  margin-top: 1em;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.outputcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 96%;
  padding: 2rem 1rem;
  border: 1px solid #222;
  border-radius: 1rem;

  font-family: monospace;
  font-size: 1.5em;
  background-color: #161b22;
}

#output {
  max-width: 90%;
  word-wrap: break-word;
}

.copybutton {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: #888;
}

.copybutton:hover {
  background-color: #aaa;
}

/* Snackbar for copy button tip */
#snackbar {
  visibility: hidden;
  position: fixed;
  left: 50%;
  bottom: 2em;
  min-width: 250px;
  margin-left: -125px;
  padding: 16px;
  text-align: center;
  border-radius: 2px;
  z-index: 1;

  background-color: #333;
  color: #fff;
  font-family: sans-serif;
}

/* Show the snackbar */
#snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.3 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.7 seconds */
  -webkit-animation: fadein 0.3s, fadeout 0.5s 2.7s;
  animation: fadein 0.3s, fadeout 0.5s 2.7s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 2em; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 2em; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 2em; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 2em; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* ::placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
} */